.card {
  display: flex;
  width: 261px;
  height: 161px;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}

.card_head {
  display: flex;
  padding: 13px 8.5px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card_text {
  display: flex;
  padding: 17px 0px 18px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #ff8c00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.card-clicked {
  transform: scale(0.95);
  opacity: 0.8;
}
.searchForm {
  width: 700px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.searchForm  label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.searchForm input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.searchForm  input:focus, select:focus {
  outline: none;
  border-color: #1e3a8a;
  box-shadow: 0 0 0 2px rgba(43, 72, 177, 0.2);
}